@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 243, 250;
}

body {
  color: #1A1A1A;
  background: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
