@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 226, 232, 240;
  --background-start-rgb: 7, 18, 43;
  --background-end-rgb: 11, 21, 51;
}

body {
  color: #E2E8F0;
  background: #07122B;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
